<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search Results by tags</title>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
            <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/input.css" type="text/css" />


    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/lucy.js"></script>
    <script type="text/javascript" src="/scripts/add-link-pop.js"></script>

  </head>

<body>
<nav id="nav-bar">
<div class = "container-fluid nb" >

  <div class="navbar-header">
    <img id="logo" src="/images/logo.png">

  </div>

    <h1 id=#txt>Maestro</h1>

        <br>

        <section class="searchnavelements">
          <form method="GET" action="/movies" class="navbtn" >
          <button type=submit>Home</button>
          </form>


          <form method="POST" action="/logout" class="navbtn">
           <button type=submit>Logout</button>
          </form>
        </section>

</div>


        <div class="jumbotron">
          <h4 class=display-8> Search Results by <%= tags %> tag  </h4>
        </div>


          <div class="card-deck">
            <% for (tag of youtubeTags){ %>
            <div class ="card" style="max-width: 500px">
               <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= tag.youtubeid %>"></iframe>
              </div>


               <div class="card-block">
                    <div class="card-title">
                      <h6><%=  tag.title%></h6>
                    </div>
                    <div class="card-text">
                      <%= tag.description %>
                    </div>
                    <div class="card-footer">

                      Likes: <div class="figure"> <%= tag.likes %> </span> </div>
                      <i class="material-icons" tagId="<%= tag.id %>" data-likes="<%= tag.likes %>" id="like" type="submit">favorite</i>
                    </div>
               </div>
          </div> <br>
            <% } %>
      </div>
        <br>
<button type="submit"  id="linkBtn">Submit New Link</button>

<!--  <button type="button" class="btn btn-primary" id="linkBtn">Submit New Link</button> -->


 <div id="inputbox">
   <h5>INPUT NEW LINK HERE</h5>
   <form method="POST" action="/input">
     <div id="textarea">
     <textarea id="video" name="video" class="inputfield" placeholder="insert link here"></textarea> <br>
     <textarea id="title" name="title" class="inputfield" placeholder="insert title here"></textarea> <br>
     <textarea id="descp" name="description" class="inputfield" placeholder="insert description"></textarea> <br>
     <p>Genre:</p><select name="tags">
       <option value="1">Music</option>
       <option value="2">Magic</option>
       <option value="3">Javascript</option>
       <option value="4">Cooking</option>
       <option value="5">Cars</option>
       <option value="6">Painting</option>
     </select>
       <input id="subBut" type="submit" name="submit"/>
   </form>
</div>
</div>

</body>
</html>








